{% extends 'base.html' %}
{% block submenu %}
<div id="submenu">
    <table>
        <tr>
            <td><a href="/apartment/{{ apartment.id }}/details">Alapadatok</a></td>
            <td><a href="/apartment/{{ apartment.id }}/owners">Tulajdonos</a></td>
            <td><a href="/apartment/{{ apartment.id }}/tenants">Bérlö</a></td>
            <td><a href="/apartment/{{ apartment.id }}/utilities">Közüzemi</a></td>
            <td><a href="/apartment/{{ apartment.id }}/contracts">Szerzödések</a></td>
            <td><a href="/apartment/{{ apartment.id }}/history">Elözmények</a></td>
            <td><a href="/apartment/{{ apartment.id }}/checkform">Ellenörzölista</a></td>
        </tr>
    </table>
</div>
{% endblock submenu %}
{% block content %}
{% for owner in owners %}
    <span>Nev: {{ owner.birth_name }}</span><br>
    <span>ID: {{ owner.id }}</span>
{% endfor %}
{%  endblock content %}