{% extends 'base.html' %}
{% block submenu %}
    <a href="../apartment/create">Létrehozás</a>
{% endblock submenu %}
{% block content %}
{% if request.user.is_anonymous %}
<span>You are not logged in!</span>
{% endif %}
<h2 class="content-header">Apartments:</h2>
{% if request.user.is_staff %}
<table>
    <tr>
        <td>cim</td>
        <td>Tulaj(ok)</td>
        <td>Berlo(k)</td>
    </tr>
    {% for apartment in apartments %}
    <tr>
        <td><a href="../apartment/{{ apartment.id }}">{{apartment.address}}</a></td>
        <td>
            {% for owner in apartment.owner.all %}
            <a href="../owner/{{ owner.id }}">{{owner}}</a>
            {% endfor %}
        </td>
        <td>
            {% for tenant in apartment.tenant.all %}
            <a href="../tenant/{{tenant.user.id}}">{{tenant}}</a><br>
            {% endfor %}
        </td>
    </tr>
    {%endfor%}
</table>

{% endif %}

<!--
{% for apartment in apartments %}
{% for o in apartment.owner.all %}
    <div class="card">
        <span class="content-name">{{ apartment.address }}</span>
        <span>Owners:
                                {% for owner in apartment.owner.all %}
                                    {{owner}}
                                    </span>
        {% endfor %}
        {% for tenant in apartment.tenant.all %}
        <span>Tenant:</span><a href="../tenants?user={{tenant.user.id}}">{{tenant}}</a>
        {% endfor %}
    </div>
{% endfor %}
{% for t in apartment.tenant.all %}
{% if t.user == user %}
<div class="card">
    <span class="content-name">{{ apartment.address }}</span>
    <span>Owners:
                            {% for owner in apartment.owner.all %}
                                {{owner}}
                                </span>
    {% endfor %}
    {% for tenant in apartment.tenant.all %}
    <span>Tenant:</span><a href="../tenants?user={{tenant.user.id}}">{{tenant}}</a>
    {% endfor %}
</div>
{% endif %}
{% endfor %}

{% endfor %} -->

{% endblock content %}