{% extends 'base.html' %}
{% block submenu %}
<div id="submenu">
    <table>
        <tr>
            <td><a href="/apartment/{{ apartment.id }}/details">Alapadatok</a></td>
            <td><a href="/apartment/{{ apartment.id }}/owners">Tulajdonos</a></td>
            <td><a href="/apartment/{{ apartment.id }}/tenants">Bérlö</a></td>
            <td><a href="/apartment/{{ apartment.id }}/utilities">Közüzemi</a></td>
            <td><a href="/apartment/{{ apartment.id }}/contracts">Szerzödések</a></td>
            <td><a href="/apartment/{{ apartment.id }}/history">Elözmények</a></td>
            <td><a href="/apartment/{{ apartment.id }}/checkform">Ellenörzölista</a></td>
        </tr>
    </table>
</div>
{% endblock submenu %}
{% block content %}
{% for tenant in tenants %}
    <span>Nev: {{ tenant.birth_name }}</span><br>
    <span>userID: {{ tenant.id }}</span>
    <a href="#" id="tenant_modify" onclick="loadHTML('../tenant_modify/{{ tenant.id }}', 'content');">Edit User</a>
{% endfor %}
{% endblock content %}