{% extends 'base.html' %}
{% block body_tasks %}
{% load static %}
{% if request.user.is_anonymous %}
<span>You are not logged in!</span>
{% endif %}
<h2>Feladatok:</h2>
    <a href="create_task/">Új feladat létrehozása</a>
<hr>
{% for todo in todos %}
    <a href="todo_form/{{ todo.id }}">
    <div class="todo_element">
        <div class="todo_title">
            <span>{{ todo.title }}</span><br>
        </div>
        <span>{{ todo.description }}</span><br>
        <span>Felelös: {{ todo.task_responsible }}</span> <br>
        <span>Határidö: {{ todo.end_day }}</span>
    </div></a>
{% endfor %}
{% endblock body_tasks %}