{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            {{ form|crispy }}
            <!--<button id="add_next">[+]</button> <br>-->
        </div>

        <input type="submit" value="Feladat aktualizálása">
    </form>

    <!--
    <script type="text/javascript">
         document.getElementById("add_next").addEventListener("click", add_next_bill)
         const source = document.getElementById("form_div")
         let formtxt = "{{ form.as_table }}"
         source.innerHTML = source.innerHTML + "<br>" + formtxt;

         function add_next_bill():

    </script>-->
{% endblock content %}