{% extends "base.html" %}
{% load static %}
{% block title %}
{% endblock title %}
{% block body_navbar %}
<div class="navbar">
    {{ user }}
    <div class="links">
        <a href="#" id="home_view">Home</a>
        <a href="#" id="apartment_list" onclick="loadHTML('../apartment_list', 'content');">Lakasok</a>
        <a href="#" id="owner_list" onclick="loadHTML('../owner_list', 'content');">Tulajok</a>
        <a href="#" id="tenant_list" onclick="loadHTML('../tenant_list', 'content');">Berlok</a>
        <a href="#" id="meter_list" onclick="loadHTML('../utility_list', 'content');">Kozmuvek</a>
        <a href="#" id="dict_years" onclick="loadHTML('../dict_years', 'content');">Diktalasi Naplo</a>
    </div>
</div>
{% endblock body_navbar %}
{% block body_content %}
    <div class="main_div" id="content">
    </div>
    {% block body_tasks %}
        <div class="main_div" id="todos">
        </div>
    {% endblock body_tasks %}

{% endblock body_content %}




   <!-- <dialog alert>
        <p>Diktalasi ertesito</p>
        <form method="dialog">
            <button>Diktalj!</button>
        </form>
    </dialog> -->
